@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

html {
    background-color: #303036;
    font-family: sans-serif;
}

header {
    color: #edd91f;
    text-align: center;
    margin: 4.5rem 0rem;
}

header h1 {
    font-size: 5rem; 
    font-family: 'Russo One', sans-serif;
    margin-bottom: .3rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    
}

header p {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Brygada 1918', serif;
    font-weight: 400;

}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.container {
    width: min(100%, 1000px);
    margin: auto;
}

.search-bar {
    margin: 0 auto 2rem;
    width: 90%;

}

.search-bar input {
    width: 100%;
    padding: .8rem .8rem;
    font-size: 1.3rem;
    border-radius: 8px;
}

.card {
    background-color: #18181a;
    color: white;
    width: 90%;
    margin: 0 auto 2rem;
    padding: 2rem;
    border-radius: 8px;    
}

.card h2 {
    color: #edd91f;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.card .category {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.card .category span {
    font-weight: 400;
}
